@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

$utilities: map-merge(
    $utilities,
    (
        "color": map-merge(
            map-get($utilities, "color"),
            (
                values: map-merge(
                    map-get(map-get($utilities, "color"), "values"), ($all-colors),
                ),
            ),
        ),
    ),

);

$utilities: map-merge(
        $utilities,
        (
            "background-color": map-merge(
                    map-get($utilities, "background-color"),
                    (
                        values: map-merge(
                                map-get(map-get($utilities, "background-color"), "values"), ($all-colors),
                        ),
                    ),
            ),
        )
);

$utilities: map-merge(
        $utilities,
        (
            "border-color": map-merge(
                    map-get($utilities, "border-color"),
                    (
                        values: map-merge(
                                map-get(map-get($utilities, "border-color"), "values"), ($all-colors),
                        ),
                    ),
            ),
        )
);

@import "bootstrap/scss/utilities/api";
