th.sorting {
    cursor: pointer;
    position: relative;
    padding-left: 25px;
}

th.sorting:after {
    position: absolute;
    font-family: 'Font Awesome 6 Free';
    left: 10px;
    content: "\F0DC";
}

th.sorting.sorting_asc:after {
    content: "\f0de";
}

th.sorting.sorting_desc:after {
    content: "\f0dd";
}
