// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=greek');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=greek');

// icons
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/v4-shims';

// variables
@import 'variables';

// bootstrap
@import '~bootstrap/scss/bootstrap';

// colors
@import 'colors';

// tables
@import 'tables';

// forms
@import 'forms';

// progress-bar-loader
@import 'progress-bar-loader';

body {
    padding-top: 4.5rem;
}

.bg-simeio {
    background-color: #E0715C;
}

.border-simeio {
    border-color: #E0715C;
}

.text-simeio {
    color: #E0715C;
}

.popover-content {
    display: none;
}

.popover-body .popover-content {
    display: block;
}

.popover-content .dropdown-menu {
    position: static;
    display: block;
    padding: 0;
    border: none;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 75px;
}

.breadcrumb {
    padding: .75rem 1rem;
    background-color: #e9ecef;
}
