// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=greek');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=greek');

// icons
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/v4-shims';

// variables
@import 'variables';

// bootstrap
@import '~bootstrap/scss/bootstrap';

// colors
@import 'colors';

// forms
@import 'forms';

.bg-simeio {
    background-color: #E0715C;
}

.border-simeio {
    border-color: #E0715C;
}

.text-simeio {
    color: #E0715C;
}

